---
import { Button } from "@/components/ui/button";
import { Checkbox } from "@/components/ui/checkbox";
import { CircleArrowDown, X } from "lucide-react";
---

<div class="flex items-center justify-between bg-gray-100 py-4 px-4 rounded-lg">
    <div class="flex items-center">
        <Checkbox className="w-6 h-6 border-2" />
        <p class="ml-2 mr-2">This is an example task</p>
    </div>
    <Button
        variant="destructive"
        className="bg-[#F25F4C] rounded-[100%] h-8 w-8"
    >
        <X />
    </Button>
</div>
