---
import Layout from "@/layouts/Layout.astro";

// Astro Components

// UI Components

import { Progress } from "@/components/ui/progress";
---

<Layout>
    <div class="flex w-[750px] flex-col items-center justify-between">
        <section class="w-full mt-8"></section>
    </div>
</Layout>
