---
import { Progress } from "@components/ui/progress";
import CurrentDay from "@components/custom/Header/CurrentDay.astro";
import DarkWhiteIcon from "@components/custom/Header/DarkWhiteIcon.astro";

interface HeaderSectionProps {
    totalTask: number;
    completedTasks: number;
}

const { totalTask, completedTasks } = Astro.props as HeaderSectionProps;

// Calculate the progress value
const progressValue: number = (completedTasks / totalTask) * 100;
---

<section class="flex flex-col justify-between w-full items-center">
    <div class="flex w-full items-center justify-between">
        <CurrentDay />
        <DarkWhiteIcon />
    </div>

    <div class="flex items-center gap-5 w-full mt-2">
        <Progress value={progressValue} />
        <p class="text-base font-bold">{progressValue.toFixed(0)}%</p>
    </div>
</section>
