---

---

<section class="flex flex-col justify-between w-full items-center">
    <div class="flex w-full items-center justify-between">
        <CurrentDay />
        <DarkWhiteIcon />
    </div>

    <Progress value={32} className="mt-2" />
</section>
